<a href="https://colab.research.google.com/github/ian24365/DALC_Scala/blob/main/list%2C_tuple%2C_set_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list

In [1]:
sent = "Hello World."
print(sent.find('e'))
print(sent.find('T'))

1
-1

In [2]:
stmt = "Python is awesome, isn't it?"
word = 'is'

count = stmt.count(word)
print(f"The count is: {count}")

The count is: 2

In [3]:
pwd = "M234onica"

print(pwd.isalnum())
print(pwd.isalpha())
print(pwd.isnumeric())

True
False
False

In [4]:
msg = "Welcome"

msg1 = msg.lower()
msg2 = msg.upper()
print(msg1, msg2)

welcome WELCOME

In [5]:
msg = "Love thy neighbor"
food = "Milk, Chicken, Bread"

print(msg.split())
print(food.split(','))

['Love', 'thy', 'neighbor']
['Milk', ' Chicken', ' Bread']

In [6]:
name = 'Jaqe'
c_name = name.replace("q", "k")
print(name, c_name)

Jaqe Jake

In [7]:
food_str = "  Milk, Chicken, Bread   "

foods = food_str.split('.')
print(foods)

foods_new = []
for food in foods:
    f = food.strip()
    foods_new.append(f)

print(foods_new)

['  Milk, Chicken, Bread   ']
['Milk, Chicken, Bread']

In [8]:
list1 = []
list2 = [2,3,4]
list3 = ['red', 'green', 'blue']
list4 = list(range(3,6))

In [10]:
list1

[]

In [11]:
list2

[2, 3, 4]

In [12]:
list3

['red', 'green', 'blue']

In [13]:
list4

[3, 4, 5]

In [15]:
list2[2]=10
list2

[2, 3, 10]

In [16]:
list3[1] = 'yellow'
list3

['red', 'yellow', 'blue']

In [18]:
numbers = [3, 87, 43]
print(numbers[1], numbers[2], numbers[0])

87 43 3

In [19]:
horsemen = ['war', 'famine', 'pestilence', 'death']

for w in horsemen:
    print(w)

war
famine
pestilence
death

In [20]:
for i in range(len(horsemen)):
    print(horsemen[i])

war
famine
pestilence
death

In [22]:
x = [3.0, 5.0, -1.0, 0.0, 3.14]

a = x[1:3]
b = x[:3]
c = x[2:]
d = x[:]
d[2] = 100

In [24]:
a

[5.0, -1.0]

In [25]:
b

[3.0, 5.0, -1.0]

In [26]:
c

[-1.0, 0.0, 3.14]

In [27]:
d

[3.0, 5.0, 100, 0.0, 3.14]

In [28]:
x = [3.0, 5.0, -1.0, 0.0, 3.14]

d=x
d[2] = 100

In [30]:
print(x, d)

[3.0, 5.0, 100, 0.0, 3.14] [3.0, 5.0, 100, 0.0, 3.14]

In [31]:
x = [3.0, 5.0, -1.0, 0.0, 3.14]
d = list(x)
d[2] = 100

In [32]:
print(x, d)

[3.0, 5.0, -1.0, 0.0, 3.14] [3.0, 5.0, 100, 0.0, 3.14]

In [33]:
lst = [3, 5, 1, 7, 2.5]

print(len(lst))
print(sum(lst))
print(max(lst))
print(min(lst))

5
18.5
7
1

In [34]:
pets = ['turtle', 'cat', 'fish', 'Dingo']
new_pets = sorted(pets)

print(pets)
print(new_pets)

['turtle', 'cat', 'fish', 'Dingo']
['Dingo', 'cat', 'fish', 'turtle']

In [35]:
new_pets = sorted(pets, key=str.lower)

print(new_pets)

['cat', 'Dingo', 'fish', 'turtle']

In [36]:
a = ["bee", "moth"]
print(a)

a.append("ant")
print(a)

['bee', 'moth']
['bee', 'moth', 'ant']

In [37]:
a.insert(0,"mosquito")
print(a)

['mosquito', 'bee', 'moth', 'ant']

In [38]:
a.insert(2, 'fly')

In [39]:
print(a)

['mosquito', 'bee', 'fly', 'moth', 'ant']

In [40]:
a = ["bee", "moth"]
print(a)

a.extend(["ant", "fly"])
print(a)

['bee', 'moth']
['bee', 'moth', 'ant', 'fly']

In [44]:
a = ["bee", 'moth', 'ant']
print(a)

a.clear()
print(a)

['bee', 'moth', 'ant']
[]

In [46]:
a = [3, 6, 5, 2, 4, 1]
a.sort(reverse=True)
print(a)

[6, 5, 4, 3, 2, 1]

In [50]:
a = ['bee', 'Wasp', 'Moth', "ant"]
a.sort(key=str.lower)
print(a)

['ant', 'bee', 'Moth', 'Wasp']

In [52]:
a = ['bee', 'betterfly', 'Wasp']
a.sort(key=len, reverse=True)
print(a)

['betterfly', 'Wasp', 'bee']

In [53]:
data = [3, 7, 1, 7, 5, 7.0]
num_7 = data.count(7)
print(num_7)

3

In [54]:
a = ["bee", 'wasp', 'moth']
b = a.copy()
b.append("ant")

print(a)
print(b)

['bee', 'wasp', 'moth']
['bee', 'wasp', 'moth', 'ant']

In [56]:
my_list=[1,2,3,4,5,6,7,8,9]

del my_list[2]
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9]

In [57]:
del my_list[1:4]
print(my_list)

[1, 6, 7, 8, 9]

In [58]:
del my_list[:]
print(my_list)

[]

In [59]:
del my_list
print(my_list)

NameError: ignored

In [60]:
a = [3, 6]
b = 2*a
print(a, b)

[3, 6] [3, 6, 3, 6]

In [61]:
a = [3, 6]
b = [1, 4]
c = a+b
print(c)

[3, 6, 1, 4]

In [62]:
a = [1, 3, 4, 6]
print( 2 in a)

False

In [64]:
print(3 in a)

True

In [65]:
a = [1, 3, 4]
b = [1, 2]

print(a==b)
print(a>b)

False
True

In [66]:
x = [10, -20, -30]
y = list(map(abs, x))
print(x, y)

[10, -20, -30] [10, 20, 30]

In [67]:
x = [11.3, 12.4,15.7]
y = list(map(round,x))
print(x, y)

[11.3, 12.4, 15.7] [11, 12, 16]

In [68]:
import math
x = [0, 1, 2, 3]
e_x = list(map(math.exp, x))
print(e_x)

[1.0, 2.718281828459045, 7.38905609893065, 20.085536923187668]

In [69]:
def my_fn(x):
    return x%3==0
x = [1,2,3,4,5,6,7]
result = list(filter(my_fn, x))
print(result)

[3, 6]

In [71]:
def even_n(v):
    return v%2==0

fib = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
result = list(filter(even_n, fib))
print(result)

[0, 2, 8, 34]

In [1]:
x = [i for i in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [2]:
y = [n**2 for n in range(5) if n%2==0]
print(y)

[0, 4, 16]

In [3]:
z = [n**2 if n%2==0 else n**3 for n in range(5)]
print(z)

[0, 1, 4, 27, 16]

In [5]:
fruits = ["apple", 'banna', 'cherry', 'kiwi', 'mango']
fruits_u = [x.upper() for x in fruits]
print(fruits_u)

['APPLE', 'BANNA', 'CHERRY', 'KIWI', 'MANGO']

In [6]:
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banna', 'mango']

In [8]:
original_prices = [1.25, -9.45, 10.22, 3.78, -5.92, 1.16]

prices = [i if i > 0 else 0 for i in original_prices]
print(prices)

[1.25, 0, 10.22, 3.78, 0, 1.16]

In [10]:
list_one = [1,2,4,5]
list_two = [3,5,7,2,9]

print(list_one)
print(list_two)

#for item in list_two:
#   if item not in list_one:
#      list_one.append(item)

list_one += [item for item in list_two if item not in list_one]

print(list_one)

[1, 2, 4, 5]
[3, 5, 7, 2, 9]
[1, 2, 4, 5, 3, 7, 9]

In [11]:
def f(x):
    x[1] =20
    
if __name__ =='__main__':
    u = [1,2,3,4]
    print(u)

    f(u)
    print(u)

[1, 2, 3, 4]
[1, 20, 3, 4]

In [ ]:
from random import randint

def gen_random_list(L, R, n):

    int_list = []

    for k in range(n):
        r = randint(L, R)
        int_list.append(r)

    return int_list

if __name__ =='__main__':
    roll_dice_list = gen_random_list(1, 6, 10)
    print(roll_dice_list)

In [14]:
def are_anagram(word1, word2):
    

    word1_sorted = sorted(word1)
    word2_sorted = sorted(word2)
    print(word1_sorted, word2_sorted)

    return word1_sorted==word2_sorted

if __name__=='__main__':
    two_words = input('Enter two space separated words: ')
    word1, word2, = two_words.split()

    if are_anagram(word1, word2):
        print(f'{word1}, {word2} : anagram')
    else:
        print(f'{word1}, {word2} : not anagram')

Enter two space separated words: iceman cinema
['a', 'c', 'e', 'i', 'm', 'n'] ['a', 'c', 'e', 'i', 'm', 'n']
iceman, cinema : anagram

In [20]:
import math

def std_dev(lst):

    n = len(lst)
    mean = sum(lst)/n
    summation = sum([(x-mean)**2 for x in lst])
    variance = summation/(n-1)

    std_dev = math.sqrt(variance)
    return mean, std_dev

if __name__=='__main__':
    lst = [3,4,5,6,6,7,1,2,3]
    avg, std = std_dev(lst)
    print(f'average: {avg:.2f}, standard deviation :{std:.5f}')

average: 4.11, standard deviation :2.02759

In [ ]:
# shallow copy of list

In [25]:
import copy
nums = [1,2,3,4,5]

m1 = list(nums)
m2 = nums[:]
m3 = nums.copy()
m4 = copy.copy(nums)

In [26]:
m1[0] = 10
m2[0] = 20
m3[3] = 30
m4[4] = 40

print(nums)
print(m1)
print(m2)
print(m3)
print(m4)

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[20, 2, 3, 4, 5]
[1, 2, 3, 30, 5]
[1, 2, 3, 4, 40]

In [28]:
lst1 = ['Yesterday', ['we', 'used'], 'the', ['Python', 3]]

for itm in lst1:
    print(type(itm), end=' ')
lst2 = lst1.copy()
lst2[0]='Today'
lst2[1][1] = 'did not use'
print(lst1)
print(lst2)

<class 'str'> <class 'list'> <class 'str'> <class 'list'> ['Yesterday', ['we', 'did not use'], 'the', ['Python', 3]]
['Today', ['we', 'did not use'], 'the', ['Python', 3]]

In [29]:
# deepcopy of list

In [30]:
import copy

lst1 = ['Yesterday', ['we', 'used'], 'the', ['Python', 3]]

lst2 = copy.deepcopy(lst1)
lst2[0] = 'Today'
lst2[1][1] ='did not use'
print(lst1)
print(lst2)

['Yesterday', ['we', 'used'], 'the', ['Python', 3]]
['Today', ['we', 'did not use'], 'the', ['Python', 3]]

In [ ]:
# comparison of shawllow copy and deepcopy

In [36]:
import copy

a_list = [1,2,3]
b_list = [5,6,7]

a_list.append(b_list)
c_list = a_list.copy()
d_list = copy.deepcopy(a_list)

In [37]:
print(a_list)

[1, 2, 3, [5, 6, 7]]

In [38]:
print(b_list)

[5, 6, 7]

In [40]:
b_list[0]=1000
print(c_list)

[1, 2, 3, [1000, 6, 7]]

In [41]:
print(d_list)

[1, 2, 3, [5, 6, 7]]

# tuple

In [42]:
t1 = ()
t2 = (2,)
t3 = (1,3,5)
t4 = (1, ('we', 'study', 'python'), 5)
t5 = tuple('hello')

In [43]:
t1

()

In [44]:
t2

(2,)

In [45]:
t2 = (2)

In [46]:
t2

2

In [47]:
t3

(1, 3, 5)

In [48]:
t4

(1, ('we', 'study', 'python'), 5)

In [49]:
t5

('h', 'e', 'l', 'l', 'o')

In [50]:
t4[1][2]

'python'

In [53]:
tup1 = ('python', 'statistics', 2017, 2016)
tup2 = (1,2,3,4,5)

print(tup1[1])
print(tup2[1:4])

tup1[2] = 'databases'

statistics
(2, 3, 4)

TypeError: ignored

In [54]:
del tup1[3]

TypeError: ignored

In [58]:
t = (4, 'fred')
x, y = t 
print(x)
print(y)

4
fred

In [59]:
num_t = (33, 11, 22)

print(len(num_t))
print(44 in num_t)

3
False

In [60]:
num_list = list(num_t)
print(num_list)

[33, 11, 22]

In [61]:
num_list = [2, 5, -1, 3]
num_t = tuple(num_list)
print(num_t)

(2, 5, -1, 3)

In [62]:
num_t = (33, 11, 22)
num_t.sort()

AttributeError: ignored

In [64]:
sorted_t = sorted(num_t)
print(sorted_t)

[11, 22, 33]

In [67]:
position = (10, 5, 7)

x, y, z = position
print('x:{x}, y:{y}, z:{z}')

x, _, y = position
print('x: {x}, y: {y}')

x:{x}, y:{y}, z:{z}
x: {x}, y: {y}

In [68]:
x, *_, y = (1,2,3,4)
print(x, y)

1 4

In [69]:
for _ in range(3):
    print('do something')

do something
do something
do something

In [70]:
t_list = [('a', 1), ('b', 2), ('c', 3)]

for _, val in t_list:
    print(2*val)

2
4
6

#set

In [71]:
fruit_set = {'apple', 'banana', 'orange'}
x = {42, 'foo', 3.14159, None}
number_set = {4, 2, 3, 4, 1, 2}

print(number_set)

{1, 2, 3, 4}

In [72]:
num_set = set([4, 2, 3, 4, 1, 2])
print(num_set)

{1, 2, 3, 4}

In [73]:
x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
print(x)

{'bar', 'foo', 'baz', 'qux'}

In [74]:
char_set = set('hello')
print(char_set)

{'e', 'l', 'h', 'o'}

In [75]:
num_set = {4, 2, 3, 4, 1, 2}

print(num_set)
print(len(num_set))
print(5 in num_set)
print(min(num_set))
print(max(num_set))
print(sum(num_set))
print(sorted(num_set))

{1, 2, 3, 4}
4
False
1
4
10
[1, 2, 3, 4]

In [76]:
x1 = {'foo', 'bar'}
x2 = {'foo', 'bar','baz'}

print(x1 < x2)
print(x1 > x2)

True
False

In [77]:
x = {'foo', 'bar','baz'}
print(x)

{'bar', 'foo', 'baz'}

In [78]:
x.add('qux')
print(x)

{'bar', 'foo', 'baz', 'qux'}

In [79]:
x.discard('baz')
print(x)

{'bar', 'foo', 'qux'}

In [80]:
itm = x.pop()
print(itm, x)

x.clear()
print(x)

bar {'foo', 'qux'}
set()

In [88]:
set1 = {11, 22, 33}
set2 = {12, 23, 33}

union_12 = set1 | set2
print(union_12)

{33, 22, 23, 11, 12}

In [89]:
intersection_12 = set1 & set2
print(intersection_12)

{33}

In [90]:
diff_12 = set1 - set2
print(diff_12)

{11, 22}

In [92]:
sym_diff_12 = set1^set2
print(sym_diff_12)

{11, 12, 22, 23}